.body{
    display:flex;
    flex-flow: column wrap;
}

.display {
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
}

.smallDisplay {
    display: flex;
    font-size: 25px;
    color: grey;
    justify-content: flex-end;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

button {
    height: 100px;
    width: 100px;
}

